* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  outline: black 1px solid;
}
body {
  min-height: 100vh;
  min-width: 100%;
  background-color: #ffe6c8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  padding: 10px;
  max-width: 900px;
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* outline: none; */
}
.main-container button {
  text-align: center;
  padding: 5px;
}
.main-container p {
  text-align: center;
}
